.container{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;

}
.block{
    width: 23%;
    padding: 10px;
}
img{
    width: 100%;
}
.job{
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 200;
    
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.button{
    text-align: center;
    border: 2px solid lightgray;
    background-color:lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 200;
}